<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60000 " debug="false">

    <!-- 下面这种配置方式可以读取到yml文件里面配置的路径 -->
    <!--    <springProperty scope="context" name="logPath" source="logging.file.path" defaultValue=""/>-->
    <!--    <property name="LOG_PATH" value="${logPath}"/>-->

    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %logger输出日志的logger名 %msg：日志消息，%n是换行符 -->
    <property name="log.stdout.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) - [%yellow(%thread)] %blue(%logger{36})[%yellow(%method,%line)]: %msg%n"/>
    <property name="log.file.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - [%thread] %logger{36}[%method,%line]: %msg%n"/>

    <!-- 日志存放路径 -->
    <property name="LOG_PATH" value="/home/es/logs"/>
    <!-- 本地运行时需要覆盖docker内部的路径 -->
    <!--    <property name="LOG_PATH" value=""/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.stdout.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 每天生成日志文件,文件大小超过50MB则新生成一个文件，同时将旧文件按${LOG_PATH}/fp.estorage.%d{yyyy-MM-dd}.%i.log.zip格式压缩，文件保存60天 -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.file.pattern}</pattern>
        </encoder>

        <file>${LOG_PATH}/fp.estorage.today.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/fp.estorage.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>     <!-- 日志文件过大会使的编辑器打开非常慢，因此设置日志最大50MB -->
            <maxHistory>60</maxHistory>         <!-- 保存60天 -->
            <totalSizeCap>10GB</totalSizeCap>   <!-- 总日志大小 -->
        </rollingPolicy>
    </appender>

    <!-- 系统模块日志级别控制  -->
    <logger name="com.fp.estorage.business" level="info"/>
    <!-- Spring日志级别控制  -->
    <logger name="org.springframework" level="info"/>

    <!-- root与logger是父子关系，没有特别定义则默认为root，任何一个类只会和一个logger对应 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="rollingFile"/>
    </root>

    <!-- 配置某个包的日志级别 -->
    <logger name="com.fp.estorage.business.mapper" level="debug" additivity="false">
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
